*.rdbg
*.exe
*.pdb
.build/
*.sublime-workspace
*.sublime-project
*.vs
*.sln
*.vcxproj
*.vcxproj.*
*.log
*.ini
*.VC.db
*.obj
*.ilk
dev_config.jai
*.spall
release/
output.txt
*.blend1
*.abs
renderdoc.cap
